{{template "header" .}}

<form>

    <div>
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" placeholder="email@example.com" required autocomplete="email">
    </div>


    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password" required >
    </div>


    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>



{{template "footer" .}}